.aircraft {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("AircraftProfile.svg");
  margin: 0 auto;
  max-height: 100cqh;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.aircraft-item-container-left {
  position: absolute;
  width: 40%;
text-align: right;
  left: 5%;
}

.aircraft-item-container-right {
  position: absolute;
  width: 40%;
text-align: left;
  left: 55%;
}

.aircraft-item {
  /*

  */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 4cqmin;
  color: white;
}

.aircraft-item-value {
  /*
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 4cqmin;
  font-weight: bolder;
  color: white;
  border-radius: 1cqmin;
  border-width: 1cqmin;
  padding-left: 1cqmin;
  padding-right: 1cqmin;

}