.ems_egt_intrument {
    max-height: 100cqh;
    aspect-ratio: 1/1;
    position: relative;
    margin: 0 auto;
}

.ems_egt_intrument_bar_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.ems_egt_intrument_bar {
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

/* RB-01 with Round display is 480x480 */
@container (aspect-ratio = 1) and (width < 512px) {
    .ems_egt_intrument {
        max-height: 70cqh;
        margin-top: 15%;
        /* TODO: fix me by removing it*/
        margin-left: 11%;
    }
}