.gyro {
  margin: 0 auto;
  max-height: 100cqh;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  container-type: inline-size;
}

.gyroheading {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("RoundGyroHeading.png");
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.gyrobearing {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("RoundGyro.png");
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.gyroheading-track {
  position: absolute;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 8cqmin;
  font-weight: bolder;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: white;
}

.gyroheading-source {
  position: absolute;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 4cqmin;
  font-weight: bolder;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: white;
}
