.sp01 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    max-height: 100cqh;
    max-width: 100cqw;
    position: absolute;
    display: none;
    overflow: hidden;
    container-type: inline-size;
    background-color: black;
}