.sp01 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("/resources/SP01.jpg");
    margin: 0 auto;
    max-height: 100cqh;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    container-type: inline-size;
       -webkit-filter: invert(1);
   filter: invert(1);
}