.Sixpack {
    container-type: inline-size;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.Sixpack_intrument {
    width: 33cqmax
}


@container (aspect-ratio > 1) {
.Sixpack_intrument {
    width: 50cqmin
}
}