<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>RB-Avionics</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="manifest" href="manifest.json" />


	<link href="/img/logo-android3.png" rel="icon" />
	<!-- iOS -->

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link href="/img/logo-apple3.png" rel="apple-touch-icon" />

	<!-- iPad retina portrait startup image -->
	<link href="/img/screen-1536x2008.png"
		media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		rel="apple-touch-startup-image">
	<!-- iPad retina landscape startup image -->
	<link href="/img/screen-1496x2048.png"
		media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		rel="apple-touch-startup-image">
	<!-- iPad non-retina portrait startup image -->
	<link href="/img/screen-768x1004.png"
		media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait)"
		rel="apple-touch-startup-image">
	<!-- iPad non-retina landscape startup image -->
	<link href="/img/screen-748x1024.png"
		media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape)"
		rel="apple-touch-startup-image">
	<!-- iPhone 6 Plus portrait startup image -->
	<link href="/img/screen-1242x2148.png"
		media="(device-width: 414px) and (device-height: 736px) and  (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		rel="apple-touch-startup-image">
	<!-- iPhone 6 Plus landscape startup image -->
	<link href="/img/screen-1182x2208.png"
		media="(device-width: 414px) and (device-height: 736px) and  (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		rel="apple-touch-startup-image">
	<!-- iPhone 6 startup image -->
	<link href="/img/screen-750x1294.png"
		media="(device-width: 375px) and (device-height: 667px) and  (-webkit-device-pixel-ratio: 2)"
		rel="apple-touch-startup-image">
	<!-- iPhone 5 startup image -->
	<link href="/img/screen-640x1096.png"
		media="(device-width: 320px) and (device-height: 568px) and  (-webkit-device-pixel-ratio: 2)"
		rel="apple-touch-startup-image">
	<!-- iPhone < 5 retina startup image -->
	<link href="/img/screen-640x920.png"
		media="(device-width: 320px) and (device-height: 480px) and  (-webkit-device-pixel-ratio: 2)"
		rel="apple-touch-startup-image">
	<!-- iPhone < 5 non-retina startup image -->
	<link href="/img/screen-320x460.png"
		media="(device-width: 320px) and (device-height: 480px) and  (-webkit-device-pixel-ratio: 1)"
		rel="apple-touch-startup-image">

	<link rel="stylesheet" href="maui/css/mobile-angular-ui-base.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/Variometer.css" />
	<link rel="stylesheet" href="css/Altimeter.css" />
	<link rel="stylesheet" href="css/TurnSlip.css" />
	<link rel="stylesheet" href="css/Attitude.css" />
	<link rel="stylesheet" href="css/Speed.css" />
	<link rel="stylesheet" href="css/Gyro.css" />
	<link rel="stylesheet" href="css/EMS.css" />
	<link rel="stylesheet" href="css/Radar.css" />
	<link rel="stylesheet" href="css/Aircraft.css" />
	<link rel="stylesheet" href="css/Sixpack.css" />

	<link rel="stylesheet" href="/css/ahrs.css" />
	<link rel="stylesheet" href="/css/timers.css" />
	<link rel="stylesheet" href="/css/ol.css" />
	<link rel="stylesheet" href="/css/ol-layerswitcher.css" />
	<link rel="stylesheet" href="/css/map.css" />
	<link rel="stylesheet" href="/css/radio.css" />
	<link rel="stylesheet" href="css/Resources.css" />
	<link rel="stylesheet" href="css/SynthView.css" />
	<link rel="stylesheet" href="css/dark-mode.css" />
	<link rel="stylesheet" href="/css/checklist.css" />
	<link rel="stylesheet" href="/css/alerts.css" />

	<script src="maui/js/angular.min.js"></script>
	<script src="maui/js/angular-ui-router.min.js"></script>
	<script src="maui/js/mobile-angular-ui.js"></script>
	<script src="js/global.js"></script>
	<script src="services/servicekeypad.js"></script>
	<script src="services/servicealerts.js"></script>
	<script src="services/serviceautopilot.js"></script>
	<script src="services/servicesituation.js"></script>
	<script src="services/serviceradar.js"></script>
	<script src="services/servicetraffic.js"></script>
	<script src="services/serviceems.js"></script>
	<script src="services/servicestatus.js"></script>
	<script src="services/serviceradio.js"></script>
	<script src="services/serviceaircraft.js"></script>
	<script src="js/startup.js"></script>
	<script src="js/main.js"></script>


	<script src="/plates/js/ahrs.js"></script>
	<script src="/js/svg.min.js"></script>
	<script src="/js/ol.js"></script>
	<script src="/js/olms.js"></script>
	<script src="/js/ol-layerswitcher.js"></script>

	<script src="plates/js/SixPackInstruments.js"></script>
	<script src="plates/js/radar.js"></script>
	<script src="plates/js/bottom.js"></script>
	<script src="plates/js/radio.js"></script>
	<script src="plates/js/timers.js"></script>
	<script src="plates/js/emsegt.js"></script>
	<script src="plates/js/ems.js"></script>
	<script src="plates/js/synthview.js"></script>
	<script src="plates/js/switchboard.js"></script>
	<script src="plates/js/map.js"></script>
	<script src="plates/js/hsi.js"></script>
	<script src="plates/js/airfields.js"></script>
	<script src="plates/js/aircraft.js"></script>
	<script src="plates/js/autopilot.js"></script>
	<script src="plates/js/camera.js"></script>
	<script src="plates/js/charts.js"></script>
	<script src="plates/js/checklist.js"></script>
	<script src="plates/js/alerts.js"></script>
	<script src="plates/js/resources.js"></script>
	<script src="/synthview/three.min.js"></script>
	<script src="/synthview/OrbitControls.js"></script>
	<script src="/synthview/GLTFLoader.js"></script>
	<script src="/plates/js/cockpit_widgets.js"></script>
	<script src="/js/chart.js"></script>
	<script src="/js/GPXParser.js"></script>
	<script src="/synthview/FontLoader.js"></script>
	<script src="/synthview/TextGeometry.js"></script>
	<style>
	</style>
</head>

<body id="body" ng-app="bobby" ng-controller="MainCtrl" ui-prevent-touchmove-defaults>
	<!-- Needed for modal confirmation dialogs -->
	<div ui-yield-to="modals"></div>
	<!-- alertsModal -->
	<div id="alertsModal"></div>
	<audio id="audioproxy"></audio>
	<!-- Define Left (Menu) Sidebar Navigation -->
	<div ui-track-as-search-param='true' class="sidebar sidebar-left">
		<div class="scrollable">
			<div class="scrollable-content">
				<a class="fabNavigation fabNorthEast" ng-click="fabClick('NW',this,$event);" ui-toggle="uiSidebarLeft">
					<i class="fa fa-caret-right pull-right"></i>
				</a>
				<div style="container-type: inline-size;width: 100%;" ng-repeat="item in leftpages"
					ng-include="item.url" ng-controller="item.ctrl"></div>

			</div>
		</div>
	</div>

	<div ui-track-as-search-param='true' class="sidebar sidebar-right">
		<div class="scrollable">
			<div class="scrollable-content">

				<a class="fabNavigation fabNorthWest" ng-click="fabClick('NE',this,$event);" ui-toggle="uiSidebarRight">
					<i class="fa fa-caret-left pull-left"></i>
				</a>

				<div style="container-type: inline-size;width: 100%;" ng-repeat="item in rightpages"
					ng-include="item.url" ng-controller="item.ctrl"></div>

			</div>
		</div>

	</div>





	<div class="app">
		<!-- Create Header Navbar with left Menu Button -->


		<!--


		<a class="fabSouthEast" ng-click="fabClick('SE',this,$event);">
		</a>
		<a class="fabSouthWest" ng-click="fabClick('SW',this,$event);">
		</a>
-->
		<a class="fabNavigation fabEast semiroundright" ng-click="fabClick('E',this,$event);" ng-if="fabEastEnabled">
			<i class="fa fa-caret-left"></i>
		</a>
		<a class="fabNavigation fabWest semiroundleft" ng-click="fabClick('W',this,$event);"  ng-if="fabWestEnabled">
			<i class="fa fa-caret-right"></i>
		</a>
		<a class="fabNavigation fabNorth semiroundtop" ng-click="fabClick('N',this,$event);" ng-if="!uiSidebarTop && fabNorthEnabled">
			<i class="fa fa-caret-down"></i>
		</a>
		<a class="fabNavigation fabSouth semiroundbottom" ng-click="fabClick('S',this,$event);" ng-if="!uiSidebarBottom && fabSouthEnabled">
			<i class="fa fa-caret-up"></i>
		</a>
		<div class="navbar navbar-app navbar-absolute-top" ng-if="uiSidebarTop" ng-include="'plates/sidebottom.html'"
			ng-controller="BottomCtrl" ng-init="init('top')"></div>
		<!--
		<div class="navbar navbar-app navbar-absolute-top" ng-if="uiSidebarTop" ng-include="'plates/sidetop.html'">
			<div class="btn-group pull-left semiroundleft">
				<div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle" style="height: 42px;">
					
				</div>
			</div>

			<div class="navbar btn-group semiroundtop" ui-yield-to="title">
			</div>


			<div class="btn-group pull-right semiroundright">
				<div ui-toggle="uiSidebarRight" class="btn sidebar-toggle" style="height: 42px;">
					<i class="fa fa-caret-left"></i>
				</div>
			</div>
		</div>
			-->
		<div class="navbar navbar-app navbar-absolute-bottom" ng-if="uiSidebarBottom"
			ng-include="'plates/sidebottom.html'" ng-controller="BottomCtrl" ng-init="init('bottom')">
		</div>

		<!-- App Body -->
		<div class="app-body">
			<div class="app-content">
				<div class="scrollable">
					<div class="scrollable-content" style="container-type: size;">
						<div ui-view></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		window.addEventListener('load', () => {
			setTimeout(() => {
				window.scrollTo(0, 1); // forces repaint
			}, 100);
		});

	</script>
</body>

</html>