<div ui-content-for="title">Syntetic View</div>
<div id="synthviewFrame" name="synthviewFrame"
  style="position: fixed;    right: 0;    bottom: 0;    min-width: 100%;    min-height: 100%; background-color: black;">
</div>

<div ng-show="remote.reset==false" id="ahrs_display"
  style="position: fixed;width: 100vh;  left: 50%;transform: translate(-50%, -3%);pointer-events: none;cursor: not-allowed;">
</div>
<a ng-show="remote.reset==false" ng-click="goToLeft()" style="position: fixed;bottom: 15vw;    left: 15vw;">
  <i style="font-size: 48px;padding: 0px;margin:0px;transform: rotate(-45deg);color:white;" class="fa fa-dot-circle-o"></i>
</a>

<a ng-show="remote.reset==false" ng-click="goToRight()" style="position: fixed;bottom: 15vw;    right: 15vw;">
  <i style="font-size: 48px;padding: 0px;margin:0px;transform: rotate(-45deg);color:white;" class="fa fa-location-arrow"></i>
</a>

<a ng-show="remote.reset==true" ng-click="synthviewFrameReset()" style="position: fixed;bottom: 15vw;    left: 15vw;">
  <i style="font-size: 48px;padding: 0px;margin:0px;color:white;" class="fa fa-eye"></i>
</a>