<div ui-content-for="title">Aircraft</div>
<div style="position: absolute;top: 22cqmin;left: 50%;transform: translateX(-50%);width: 8cqmin;aspect-ratio: 1 / 1;border-radius: 50%;background: {{gearnoseBackgroundColor}};"></div>
<div style="position: absolute;top: 35cqmin;left: 40%;transform: translateX(-50%);width: 8cqmin;aspect-ratio: 1 / 1;border-radius: 50%;background: {{gearleftBackgroundColor}};"></div>
<div style="position: absolute;top: 35cqmin;left: 60%;transform: translateX(-50%);width: 8cqmin;aspect-ratio: 1 / 1;border-radius: 50%;background: {{gearrightBackgroundColor}};"></div>
<div class="aircraft">
        <div class="aircraft-item-value" style="margin-top: 3%;border: none;font-size: 6cqmin;margin-bottom: -2%;">{{name}}</div>

    <div class="aircraft-item-container-left">
    <div ng-repeat="item in items[0]" style="margin: 1cqmin;" ng-click="goTo(item)">
        <span class="aircraft-item">{{item.label}}</span>
        &nbsp;<span
            class="aircraft-item-value" style="background-color: {{item.color}};" ng-show="item.value">{{item.value}}</span>
    </div>
    </div>
    <div class="aircraft-item-container-right">
    <div ng-repeat="item in items[1]" style="margin: 1cqmin;" ng-click="goTo(item)">
        <span 
            class="aircraft-item-value" style="background-color: {{item.color}};">{{item.value}}</span>
            &nbsp;
        <span class="aircraft-item">{{item.label}}</span>
    </div>
    </div>
</div>