<div ui-content-for="title">Airfields</div>
<!-- List of Airfields -->
<div class="col-xs-12" style="overflow: hidden;">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" style="margin-left: 20px;margin-right: 6px;">
                Airfields
                <a ng-click="airfieldsSortByDistance=false;airfieldsReload()" ng-show="airfieldsSortByDistance == true" class="label label-success pull-right">SORT BY DISTANCE</a>
                <a ng-click="airfieldsSortByDistance=true;airfieldsReload()" ng-show="airfieldsSortByDistance == false" class="label label-default pull-right">SORT BY NAME</a>
                
            </div>
            <div class="panel-body text-center" style="overflow:hidden;padding:0px;">
    
                <table style="width:100%;margin: 0px;padding:0px;">
    
                    <tr style="margin: 0px;padding:0px;">
                        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                            <strong>&ETH;</strong> TRK
                        </td>
                        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                            Waypoint
                        </td>
                        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                            &nbsp;Time/Distance NM&nbsp;
                        </td>

                    </tr>
    
    
                    <tr ng-repeat="point in airfields"
                        ng-click="directToAirfield(point)"
                        style="margin: 0px;padding:0px;border-top: 1px #acacac solid;{{point.style}}" ng-class="point.className" id="line_0_{{point.index}}">
                        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                                <i class="fa fa-location-arrow" aria-hidden="true"
                                    style="font-size: 4cqmin;transform: rotate({{point.trk.toFixed(0)-45}}deg);"></i>
                                {{point.trk.toFixed(1)}}°
                        </td>
                        <td class="text-center"
                            style="margin: 0px;padding:0px;border-right: 1px #acacac solid;align-items:center;font-size: 4cqmin;">
                            <strong>{{point.Cmt}}</strong>
                        </td>

                        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;font-size: 4cqmin;">
                            {{point.time.toFixed(0)}}/{{point.dist.toFixed(1)}}
    
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>