<div ui-content-for="title">Checklist</div>
	<div class="panel panel-default" ng-repeat="checklist in data_list ">
		<div class="panel-heading">
			<span class="panel_label">{{checklist.name}} <em>{{checklist.text}}</em></span>
		</div>
			<table style="width:100%">
				<tbody>
					<tr class="checksline {{check.value}} {{check.isselected}}" ng-repeat="check in checklist.items ">
						<th scope="row">
						<td class="text-center">
							<select id="status_{{check.id}}" name="status_{{check.id}}"
								class="col-xs-7 custom-select checker {{check.value}}" ng-model="check.value"
								ng-change="updateStatusForItem(check)">
								<option value="todo" ng-selected="check.value=='todo'">CHECK</option>
								<option value="pass" ng-selected="check.value=='pass'">PASS</option>
								<option value="skip" ng-selected="check.value=='skip'">SKIP</option>
								<option value="fail" ng-selected="check.value=='fail'">FAIL</option>
								<option value="test" ng-selected="check.value=='test'">TODO</option>
							</select>
						</td>
						<td class="alertstitle" width="90%">
							<strong>{{check.name}}</strong><br />
							{{check.text}}
						</td>
						<td style="padding-right: 4px;">{{check.dateParsed}}</td>
						</th>
					</tr>
				</tbody>
			</table>
	</div>