<div ui-content-for="title">EMS</div>
<div class="panel panel-default">
	<div class="panel-heading">Engine
		<a ng-click="switchFreq(radio)" class="label label-warning pull-right">DISCONNECTED</a>
	</div>
	<div class="panel-body" style="container-type: inline-size;width: 100%;">
			<div class="speed ems_intrument" style2="width: 100%;flex: 50%;"  ng-repeat="sensor in EMS">
				<div class="arc"
					style="transform: rotate({{arc.startDegree}});background-color: {{arc.color}};--a:{{arc.sizeDegree}};"
					ng-repeat="arc in sensor.arcs"></div>
				<div class="speed-number" style="left:{{arc.left}};top:{{arc.top}};"
					ng-repeat="arc in sensor.speedTicks">{{arc.speed}}</div>

				<div class="speed-label">{{sensor.label}}</div>
				<div class="speed-unit">{{sensor.unit}}</div>
				<div class="speed-fi_needle" style="transform: rotate({{sensor.speedDegree}});"></div>
				<div class="speed-value" style="background-color: {{sensor.backgroundColor}};">{{sensor.speed}}</div>
			</div>
			<img class="speed ems_intrument_big" src="css/EMS_C.png" />
</div>

<!--


</div>


		
		
	</div>
</div>

-->


