<div ui-content-for="title">Radio</div>
<div class="panel-group col-sm-6" id="radio_box" ng-repeat="radio in radioList" style="container-type: inline-size;line-height: normal;">
    <div class="panel panel-default {{radio.className}} text-center">
        <div class="panel-heading">{{radio.name}}
            <span class="label label-success pull-right" ng-show="radio.enabled == true">ACTIVE</span>
            <span class="label label-default pull-right" ng-show="radio.enabled == false">INACTIVE</span>
        </div>
                <div style="font-size: 28cqmin;padding: 0px;" class="Radio">
                    {{radio.active}}</div>
                <div style="font-size: 10cqmin;padding: 0px;margin:0px; white-space:nowrap;overflow:hidden;margin-top: -4%;">{{radio.label}}</div>
    </div>
    <div class="panel panel-default {{radio.className}}">
        <div class="panel-heading">
            <a ng-click="switchFreq(radio)" class="label label-warning" style="padding-left: 10%;padding-right: 10%;">TAP TO SWITCH</a>

            <a ng-click="dualFreq(radio,false)" ng-show="radio.dual == true" class="label label-success pull-right" style="padding-left: 10%;padding-right: 10%;">DUAL
                ENABLED</a>
            <a ng-click="dualFreq(radio,true)" ng-show="radio.dual == false" class="label label-default pull-right" style="padding-left: 10%;padding-right: 10%;">DUAL
                OFF</a>
        </div>
        <div class="text-center">
            <a ng-click="increaseFreq(radio,1000)" class="btn btn-default {{radio.classStandByLeft}}" style="width:15%;">&#9650;</a>
            <a ng-click="toggleKeypad(radio)" class="btn btn-default" style="width: 20%;min-width: 90px;">KEYPAD</a>
            <a ng-click="increaseFreq(radio,5)" class="btn btn-default {{radio.classStandByRight}}" style="width:  15%;">&#9650;</a>
                <div class="Radio"
                    style="pointer-events: none;font-size: 20cqmin;padding: 0px;">
                    {{radio.standby}}
                </div>
                <div style="font-size: 10cqmin;padding: 0px;margin: 0px;white-space:nowrap;overflow:hidden;margin-top: -4%;">{{radio.standbyLabel}}</div>

                <a ng-click="increaseFreq(radio,-1000)" class="btn btn-default  {{radio.classStandByLeft}}" style="width:  15%;">&#9660;</a>
                <a ng-click="search(radio)" class="btn btn-default " style="width: 20%;min-width: 90px;">SEARCH</a>
                <a ng-click="increaseFreq(radio,-5)" class="btn btn-default  {{radio.classStandByRight}}" style="width:  15%;">&#9660;</a>
            </div>
        <div ng-if="radio.keypadVisible" style="margin-bottom: 4px;" id="radio_keypad_{{radio.index}}">
            <div class="text-center">
                <a ng-click="digitKeypad(radio,1)" class="btn btn-default"
                    style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"
                    ng-disabled="radio.keypadDigitIndex==6">1</a>
                <a ng-click="digitKeypad(radio,2)" class="btn btn-default"
                    style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"
                    ng-disabled="radio.keypadDigitIndex==6">2</a>
                <a ng-click="digitKeypad(radio,3)" class="btn btn-default"
                    style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"
                    ng-disabled="radio.keypadDigitIndex==6">3</a>
            </div>
            <div class="text-center">
                <a ng-click="digitKeypad(radio,4)" class="btn btn-default"
                    style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"
                    ng-disabled="radio.keypadDigitIndex==1||radio.keypadDigitIndex==6">4</a>
                <a ng-click="digitKeypad(radio,5)" class="btn btn-default"
                    style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"
                    ng-disabled="radio.keypadDigitIndex==1">5</a>
                <a ng-click="digitKeypad(radio,6)" class="btn btn-default"
                    style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"
                    ng-disabled="radio.keypadDigitIndex==1||radio.keypadDigitIndex==6">6</a>
            </div>
            <div class="text-center">
                <a ng-click="digitKeypad(radio,7)" class="btn btn-default"
                    style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"
                    ng-disabled="radio.keypadDigitIndex==1||radio.keypadDigitIndex==6">7</a>
                <a ng-click="digitKeypad(radio,8)" class="btn btn-default"
                    style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"
                    ng-disabled="radio.keypadDigitIndex==1||radio.keypadDigitIndex==6">8</a>
                <a ng-click="digitKeypad(radio,9)" class="btn btn-default"
                    style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"
                    ng-disabled="radio.keypadDigitIndex==1||radio.keypadDigitIndex==6">9</a>
            </div>
            <div class="text-center">
                <a ng-click="digitKeypad(radio,0)" class="btn " style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"></a>
                <a ng-click="digitKeypad(radio,0)" class="btn btn-default" style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"
                    ng-disabled="radio.keypadDigitIndex==1">0</a>
                <a ng-click="digitKeypad(radio,0)" class="btn " style="width: 30%;min-width: 90px;margin: 2px; font-size: 5cqmin;"></a>
            </div>
        </div>
        <table ng-if="radio.searchEnabled" style="width:100%;margin: 0px;padding:0px;">
            <tr style="margin: 0px;padding:0px;">
                <td class="text-center" style="font-size: 3cqmin;margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                    Name
                </td>
                <td class="text-center" style="font-size: 3cqmin;margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                    Frequency
                </td>
                <td class="text-center" style="font-size: 3cqmin;margin: 0px;padding:0px;">
                    Dist.NM
                </td>
            </tr>
        
            <tr ng-repeat="frequency in nearby" ng-click="setFrequency(radio,frequency.freq,frequency.name)"
                style="margin: 0px;padding:0px;border-top: 1px #acacac solid;">
                <td class="text-center" style="font-size: 7cqmin;margin: 0px;padding:0px;border-right: 1px #acacac solid;height: 16cqmin;">
                    {{frequency.name}}
                </td>
                <td class="text-center" style="font-size: 6cqmin;margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                    {{frequency.freq}}
                </td>
                <td class="text-center" style="font-size: 6cqmin;margin: 0px;padding:0px;">
                    {{frequency.dist}}
                </td>
            </tr>
        </table>
    </div>
</div>
<!---->
<div class="col-xs-12" >
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="panel_label">Conversation Playback </span>
                <span class="label label-success">SDR Internal</span>
            </div>
            <div class=" text-center" style="overflow:hidden;padding:0px;">
                <table style="width:100%;margin: 0px;padding:0px;">
                    <tr style="margin: 0px;padding:0px;">
                        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                            <strong>Time</strong>
                        </td>
                        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                            <strong>Freq.</strong>
                        </td>
                        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                            <strong>Dur.</strong>
                        </td>
                        <td class="text-center" style="margin: 0px;padding:0px;">
                            &nbsp;Actions&nbsp;
                        </td>
                    </tr>

                    <tr ng-click="playAudio(playback.Path)" ng-repeat="playback in replayList"
                        style="margin: 0px;padding:0px;border-top: 1px #acacac solid;{{playback.style}}" ng-class="playback.className" >

                        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                            {{elapsed(playback.ModTime)}}
                        </td>
                        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                            {{playback.Frequency}}
                        </td>
                        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;">
                            {{playback.Duration}}s
                        </td>
                        <td class="text-center" style="margin: 0px;padding:0px;">
                            <button class="btn-success">REPLAY</button> &nbsp;
                            <a ng-click="shareAudio(playback.Path)" class="btn"><i class="fa fa-download"></i>
                                SHARE</a>
                        </td>
                    </tr>
            </div>
        </div>
    </div>
</div>

<!---->