<div ui-content-for="title">Resources</div>
<div class="sp01"></div>
<!--
<div ng-click="backFromZoom($event);" id="zoomContainer" style="position:absolute;display: none;margin:0px;padding:0px;background-color: #ffffff7f;background-size: contain;background-repeat: no-repeat;background-position: center;"></div>
<table style="width:100%;margin: 0px;padding:0px;font-size: 32px;">
    <tr style="margin: 0px;padding:0px;">
        <td class="text-center" style="margin: 0px;padding:0px;border-right: 1px #acacac solid;">
           AAAAA
        </td>
    </tr>


    <tr ng-repeat="resource in resources"
        style="margin: 0px;padding:0px;border-top: 1px #acacac solid;">
        <td class="text-center">
            <a ng-click="zoom(resource,$event);">
           {{resource.filename}}
           </a>
        </td>
    </tr>
</table>
<div style="margin: 0 auto;text-align: center;">
    <div class="rb-button-switch" ng-repeat="item in items" ng-click="click(item)">
        <div class="rb-button-switch-light" style="background-color: {{item.color}};">&nbsp;</div>&nbsp;{{item.value}}
    </div>
</div>
-->

