<div ui-content-for="title">Resources</div>
<div ng-click="backFromZoom($event);" id="zoomContainer" class="sp01"></div>
<div class="panel panel-default">
<div class="panel-heading">
    Resources
</div>
<table style="width:100%;margin: 0px;padding:0px;font-size: 32px;">
    <tr ng-repeat="resource in resources"
        style="margin: 0px;padding:0px;border-top: 1px #acacac solid;"
        ng-click="zoom(resource,$event);"
        >
        <td class="text-center">
           {{resource.Name}}
        </td>
    </tr>
</table>
</div>