<div ui-content-for="title">Right</div>
<div id="radio_box" ng-repeat="radio in COMMS.radioList">
    <div class="panel panel-default {{radio.className}}">
        <div class="panel-heading">{{radio.name}}
            <span class="label label-success pull-right">ACTIVE</span>
        </div>
        <div class="panel-body text-center" style="padding: 0px;margin:0px;">
            <div style="font-size: calc(500%);padding: 0px;margin-left:-2%;margin-top:-5%;margin-bottom:-8%;"
                class="Radio">
                {{radio.active}}</div>
            <div style="font-size: calc(150%);padding: 0px;margin:0px;">{{radio.label}}</div>
        </div>

        <div class="panel-heading">&nbsp;
            <a ng-click="switchFreq(radio)" class="label label-warning pull-left">TAP TO SWITCH</a>

            <a ng-click="dualFreq(radio,false)" ng-show="radio.dual == true" class="label label-success pull-right">DUAL
                ENABLED</a>
            <a ng-click="dualFreq(radio,true)" ng-show="radio.dual == false" class="label label-default pull-right">DUAL
                OFF</a>
        </div>
        <div class="panel-body text-center" style="padding: 0px;margin:0px;">

            <a ng-click="increaseFreq(radio,1000)" class="btn btn-default {{radio.classStandByLeft}}"
                style="width:15%;">&#9650;</a>
            <a ng-click="search(radio)" class="btn" style="width: 20%;min-width: 90px;"></a>
            <a ng-click="increaseFreq(radio,5)" class="btn btn-default {{radio.classStandByRight}}"
                style="width:  15%;">&#9650;</a>
            <div class="Radio"
                style="font-size: calc(500%);padding: 0px;margin-left:-2%;margin-top:-5%;margin-bottom:-8%;"
                >
                {{radio.standby}}
            </div>
            <div style="font-size: calc(150%);padding: 0px;margin: 0px;">{{radio.standbyLabel}}</div>

            <a ng-click="increaseFreq(radio,-1000)" class="btn btn-default  {{radio.classStandByLeft}}"
                style="width:  15%;">&#9660;</a>
            <a ng-click="search(radio)" class="btn btn-default " style="width: 20%;min-width: 90px;">SEARCH</a>
            <a ng-click="increaseFreq(radio,-5)" class="btn btn-default  {{radio.classStandByRight}}"
                style="width:  15%;">&#9660;</a>
        </div>
    </div>
</div>
<img src="css/Radar.png" width="100%"/>
<!---->