[Unit]
Description=Stratux Fancontrol

[Service]
ExecStart=/opt/stratux/bin/fancontrol
KillMode=process
Restart=always
RestartSec=5
LimitCORE=1073741824

StandardOutput=null

[Install]
WantedBy=multi-user.target
